@import "tailwindcss";

:root {
  --background: #8f9660;
  --foreground: #f3f2e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-space-grotesk), sans-serif;
}

a,
button {
  cursor: pointer;
}
